body {
  margin: auto;
}

#prev-button {
  text-align: left;
}

#next-button {
  text-align: right;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

p, .left {
  text-align: left;
}

img {
  max-height: 55%;
  max-width: 75%;
}
